langchain==0.3.13
langchain-core==0.3.28
langchain-community==0.3.13
langchain-groq==0.2.1
langchain-experimental==0.3.0
neo4j>=5.14.0
streamlit>=1.30.0
wikipedia>=1.4.0
arxiv>=2.1.0
duckduckgo-search>=5.0.0
tiktoken
yfiles_jupyter_graphs
langchain_huggingface
pypdf
langchain_core